* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.item {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  padding: 1rem;
  -webkit-user-select: none;
  user-select: none;
  cursor: grab;
  width: 100px;
}
